
#lise{
    display: inline;
    padding: 10px;
    text-decoration: none;
    border-right: 2px solid;
}
#lis{
    float: left;
    position: relative;
    padding: auto;
    margin: auto;
}
li a:hover{
    background-color: blueviolet;
    color: aquamarine;
}
li a.active{
  background-color: blueviolet;
  color:aquamarine;
}
body{
    font: 10pt ;    
}
#lisaj{ 
    float: right;
    position: relative;
    padding: auto;
    margin: auto;
}

#menu{
    list-style-type: none;
    padding: auto;
    margin: auto;
    float: left;
    top:0cm;
    display: block;
    position: fixed;
    background-color:rgba(200, 200, 200, 1);
    overflow: hidden;
}
#ajuda{
    display: inline;
    padding: 20cm;
    text-decoration: none;
    border-style: solid;
}
#lisaj #ajuda{
    display: inline;
    padding: 10px;
    text-decoration: none;
    border-style: solid;
}
#boavindas{
    text-align: center;
    font-style: arial;
    font-size: 05vw;
}
.pesoleve{
    font-style: oblique,    italic;
    color:rgba(158, 55, 199, 0.808);
}
#apre{
    font-size: 02vw;
    text-align: center;
}
#oquefazemos{
    font-size: 02vw;
    text-align: left;
}
h1{
    text-align: center;
    font-size: 40px;
}
ul{
    list-style-type: none;
    font-size: 25px;
}
#logo{
    width: 18cm;
    height: 18cm;
    left: 10cm;
    position: relative;
}